*{
  padding: 0;
  margin: 0;
  background-color: rgb(27, 27, 27);
}

.wrapper{ 
  color:rgb(201, 201, 201);
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 28pt;
}

.wrapper h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

body #picture {
  max-width: 500px;
  max-height: auto;
  object-fit: contain;
}


ul{
  list-style-type: none;
}

#site h2{
  font-size: 23pt;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
#siteDesc li{
  font-size: 10pt;
  margin: 4px;
}

.songform {
  color:rgb(201, 201, 201);
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}

#submitsong {
  background-color: white;
  padding: 5px;
  color: black;
}

select, #lyrics, #faninfo {
  background-color: white;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.picText {
  display: flex;
  max-width: 500px;
  width: 100%;
  object-fit: contain;
}

.lfloat {
  display: inline-block;
  text-align: center;
  width: 48%;
  position: relative;
}

.center {
  display: inline-block;
  text-align: center;
  width: 4%;
  position: relative;
}

.rfloat {
  display: inline-block;
  text-align: center;
  width:48%;
  position: relative;
}

@media screen and (max-width:480px) {
  body #picture {
    max-width: 100%;
  }

}