*{
  padding: 0;
  margin: 0;
}

.wrapper{ 
        background-color: rgb(27, 27, 27);
        color:rgb(201, 201, 201);
        font-family: Montserrat, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}


body #picture {
  max-width: 500px;
  max-height: auto;
  margin: 50px;
  object-fit: contain;

}